body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

header {
    background-color: white;
}

header h1 {
    font-size: 100px;
    margin: 0;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 300px;
    height: auto;
    margin: 0 auto;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section {
    text-align: justify;
    margin: 0 auto;
    padding: 0 15px 0;
    display: block;
}

main section h1 {
    font-size: 40px;
}

main section p {
    font-size: 20px;
}

.fotocenter {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 0;
}

table {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse ;
    margin: 0 auto;
    margin-bottom: 25px;
}

table caption {
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 5px;
}

table tr th, table tr td {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    text-align: center;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
}

footer {
    text-align: center;
    background-color:white;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
}
