@import url('./components/footer.css');
@import url('./components/header.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/*
Paleta de cores:
*/

:root {
    --cor-prim: #f5d20c;
    --cor-seco: rgb(242, 240, 240);
    --cor-terc: rgb(208, 208, 208);
    --cor-quar: #ffe386;
    --white-color: rgb(241, 255, 255);
    --black-color: rgb(0, 0, 0);
    --box-shadow: 0 2px 15px rgba(109, 107, 107, 0.726);
}

/*
Aplicação do CCS no header:
*/

.header-conteiner {
    display: flex;
    background-color: var(--cor-seco);
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: var(--box-shadow);
}

.logo-container {
    margin-left: 55px;
}

.logo {
    width: 150px;
    height: 150px;
}

header div div img {
    width: 150px;
    height: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    margin-right: 100px;
}

nav a {
    color: var(--black-color);
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}

nav ul li a, nav ul li{
    transition: all ease 0.3s;
    
}


nav ul li a:hover {
  transform: rotate(-10deg);
  color: var(--cor-quar);
}

.lisfodas:hover {
    transform: rotate(-10deg);
}

  
nav ul li:last-child a {
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: large;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    cursor: pointer;
    transition: all ease 0.8s;
}

nav ul li:last-child a:hover{
    background-color: var(--cor-prim);
    color: var(--black-color);
    transform: scale(1.1);
}


/*
Aplicação do CSS no footer:
*/

.footer-conteiner {
    background-color: var(--cor-seco);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
    box-shadow: 0 2px 15px rgb(0, 0, 0);
}

/*
Responsividade:
*/

@media (max-width: 768px) {

    .header-conteiner {
        max-width: 100%;
        width: 768px;
        display: flex;
        flex-direction: column;
    }
    
    .logo-conteiner {
        margin: 0;
    }

    header div div img {
        margin: 0;
        margin-right: 15px;
    }

    nav {
        margin-left: 15px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        gap: 3rem;
        margin: 0;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .footer-conteiner {
        max-width: 100%;
    }

    div div img {
        width: 125px;
        height: 84px;
    }

    footer div p {
        text-align: center;
    }
}

@media (max-width: 480px) {

    .header-conteiner {
        max-width: 480px;
    }
}