* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --cor-seco: rgb(204, 74, 255);
    --cor-prim: rgb(255, 112, 160);
    --cor-terc: rgb(168, 16, 54);
    --cor-branco: #fff;
    --cor-preto: #474441;
    --box-shadow: 0 2px 15px rgba(85, 12, 112, 0.342);
}
