.header-container {
    display: flex;
    padding: 30px 100px 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px black;
    margin-bottom: 20px;

}

header img {
    width: 150px;
    height: 90px;
}

header nav ul {
    display: flex;
    gap: 50px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
}