/*
Configurações gerais do site:
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/*
Paleta de cores:
*/

:root{
    --cor-prim: #f5bd0c;
    --cor-seco: #03b300;
    --white-color: rgb(241, 255, 255);
    --black-color: rgb(44, 44, 44);
}

/*
Aplicação do CCS no header:
*/

.header-conteiner {
    display: flex;
    background-color:rgb(201, 201, 201);
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo-conteiner {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

header div div img {
    width: 150px;
    height: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    margin-right: 200px;
}

nav a {
    color: var(--black-color);
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}

/*
Aplicação do CSS no footer:
*/

.footer-conteiner {
    background-color:rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
}