main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: white;
    border: solid 2px rgb(180, 180, 180);
    border-radius: 15px;
    margin: 0 20px 0;
    margin-top: 5vh;
    max-width: 450px;
    transition: all ease 0.5s;
}

main div p {
    text-align: center;
}

main div:hover {
    background-color: #f0f0f0;
    transform: scale(1.08);
}

main aside .img-poico {
    transform: scale(1.0);
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3% 0 5%;
}

.img-p1 {
    width: 400px;
    border-radius: 30px 60px;
    margin-bottom: 30px; 
    margin-top: 15px;
}

.img-p2 {
    width: 250px;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-top: 15px; 
}

.img-p3 {
    width:375px;
    border-radius: 60px 30px;
    margin-bottom: 30px;
    margin-top: 15px; 
}

.img-pig {
    width: 200px;
}

.projeto2 {
    margin-top: -1.5rem;
}

main aside {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

h2, p, a {
    margin-bottom: 15px;
}

button {
    background-color: var(--cor-prim);
    font-size: medium;
    font-weight: 600;
    color: var(--black-color);
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    cursor: pointer;
    transition: all ease 0.8s;
    white-space: nowrap;
    margin-top: 10px;
}

button:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

/* Responsividade: */

@media (max-width: 768px) {

    /* Tablet: */

    .img-p1 {
        width: 175px;
        border-radius: 30px;
        margin-bottom: 30px; 
        margin-top: 15px;
    }
    
    .img-p2 {
        width: 200px;
        border-radius: 30px;
        margin-bottom: 30px;
        margin-top: 15px; 
    }
    
    .img-p3 {
        width: 175px;
        border-radius: 30px;
        margin-bottom: 30px;
        margin-top: 15px; 
    }

    main div p, h2 {
        text-align: center;
        font-size: medium;
    }
}

@media (max-width: 480px) {
    
    /* Mobile: */

    main {
        display: flex;
        flex-direction: column;
    }

    main div {
        margin: 20px;
        max-width: 350px;
    }

    header {
        margin-bottom: 30px;
    }

    .img-p1 {
        min-width: 250px;
    }

    .img-p3 {
        min-width: 250px;
    }

}