body {
    margin: 0px;
    padding: 20px;
}



.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:60px;
}



.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: italic;   
    
}
.esp {
    margin: 0 7px 50px;
    background-color:rgb(230, 174, 174);
}



main {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    border: 3px solid black;
    
}
section {
    max-width: 70%;
    display: flex;
    justify-content: left;
    margin: 0 30px 0;
    padding: 20px;
    text-align: justify;
    

}
aside {
    max-width: 30%;
    display:flex;
    justify-content: end;
    margin: 0 30px 0;
    padding: 20px;
    
}



footer {
    display: flex;
    max-width: 100%;
    justify-content: center;
    font-size:25px;
    bottom: 0;
}