@import url('../../styles/global.css');

.caixote {
    padding: 30px;
    margin: auto;
    max-width: 400px;
    height: 425px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: solid 2px rgb(180, 180, 180);
    margin-top: 10vh;
    margin-bottom: 10vh;
}

h1 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

input, textarea {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    padding: 7px;
    border: 1px solid #000000;
    border-radius: 8px;
    
}

input {
    padding: 10px;
    max-width: 500px;
}

button {
    background-color:rgb(226, 163, 47);
    color: black;
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(190, 133, 27);
}