p {
    text-align: justify;
    margin-bottom: 15px;
}

.about-conteiner{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-top: 60px;
}

.textos {
    margin-right: 30px;
}

main picture img {
    width: 600px;
    border-radius: 30px 60px;
    margin-top: 10px;
    box-shadow: var(--box-shadow);
    transition: all ease 0.5s;
}

main picture img:hover {
    transform: scale(1.03);
}

h1, h3 {
    margin-bottom: 15px;
    text-align: center;
}

.titulo-video {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

video {
    width: 600px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 30% 0;
    margin-bottom: 80px;
    border-radius: 60px 30px;
    box-shadow: var(--box-shadow);
}

/* Responsividade: */

@media (max-width:480px) {
    
    /* Mobile: */

    main div img {
        width: 400px;
        margin: auto;
    }

    .img-empresa {
        margin-right: 10px;
    }

    video {
        width: 400px;
        margin: auto;
        border-radius: 30px;
        margin-bottom: 3rem;
    }

    .about-conteiner{
        margin-left: 11px;
    }

    h1 {
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {

    /* Tablet: */

    body main {
        display: flex;
        flex-direction: column;
    }

    .about-conteiner {
        display: flex;
        flex-direction: column;
    }

    main picture img {
        margin-left: 50px;
    }

    video {
        margin-left: 85px;
    }
}