.caixote {
    padding: 30px;
    margin: auto;
    max-width: 400px;
    height: 525px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: solid 2px rgb(180, 180, 180);
    margin-bottom: 10vh;
}

.demon-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto
}

.satanico {
    width: 400px;
    margin-top: 40px;
}

h1 {
    margin-bottom: 15px;
}

input, textarea {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 20px;
}

form div {
    display: initial;
    margin-right: 35px;
}

input {
    padding: 10px;
    max-width: 500px;
}


input[type="checkbox"] {
    padding: 0;
    max-width: 20px;
}

button {
    background-color: var(--cor-prim);
    font-size: medium;
    font-weight: 600;
    color: var(--black-color);
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    cursor: pointer;
    transition: all ease 0.8s;
    margin: 0 35% 0;
    white-space: nowrap;
}

button:hover {
    background-color: var(--black-color);
    transform: scale(1.1);
    color: var(--white-color);
}