main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0 5%;
    font-size: large;
}

main div {
    width: 500px;
    text-align: justify;
}

h1 {
    margin-bottom: 2rem;
}

video {
    width: 750px;
    margin: 10px 0 40px;
    border-radius: 60px 30px;
    box-shadow: var(--box-shadow);
}

p {
    margin-bottom: 30px;
    text-align: justify;
}

ul li {
    margin-bottom: 15px;
    list-style: none;
}

button {
    background-color: rgb(196, 191, 171);
    font-size: medium;
    font-weight: 600;
    color: var(--black-color);
    border: none;
    border-radius: 50px;
    padding: 12px 27px;
    cursor: pointer;
    transition: all ease 0.8s;
    margin: 0 32% 0;
    white-space: nowrap;
    margin-top: 2rem;
}

button:hover {
    background-color: #df4418;
    transform: scale(1.1);
    color: var(--white-color);
    font-size: large;
}