main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0 5%;
    font-size: large;
}

main div {
    width: 500px;
    text-align: justify;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

p {
    margin-bottom: 30px;
    text-align: justify;
}

ul li {
    margin-bottom: 15px;
    list-style: none;
}

main img {
    width: 600px;
    margin: 20px 0 20px;
    border-radius: 30px 60px;
    margin-bottom: 2rem;
}

button {
    background-color: rgb(196, 191, 171);
    font-size: medium;
    font-weight: 600;
    color: var(--black-color);
    border: none;
    border-radius: 50px;
    padding: 12px 27px;
    cursor: pointer;
    transition: all ease 0.8s;
    margin: auto 0;
    white-space: nowrap;
    margin-top: 2rem;
}

button:hover {
    background-color: #63a0bf;
    transform: scale(1.1);
    color: var(--white-color);
    font-size: large;
}

/* Responsividade: */

@media (max-width: 768px) {

    /* Tablet: */

    main img {
        width: 400px;
    }

    .inf {
        width: 400px;
    }
}