body{
    background-color: rgb(251, 212, 255);
    margin: 0;
    padding: 0;
    height: 100vh;
}

header{
    background-color: rgb(44, 43, 44);
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
}

nav ul{
    color: white;
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    margin: 0 20px 0;
    font-size: large;
}

main section{
    background-color: rgb(228, 255, 255);
    border: 1px solid rgb(153 207 207);
    border-radius: 6px;
    padding: 20px;
    margin: 20px;
}

footer{
    text-align: center;
    padding: 10px 0;
    background-color: rgb(44, 43, 44);
    color: white;
    
}