  body {
    font-family: Minecraftia;
    background-color: azure;
    padding: 2rem;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 0 auto;

  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
  }

  main {
    background-color: aliceblue;
    border-radius: 10px;
  }

  .card {
    background-color: white;
    border-radius: 15px;
  }

  .card p {
    background-color: rgb(233, 233, 233);
    text-align: center;
    padding: 1rem;
    width: 90%;
  }